<v-ons-page>
  <v-ons-toolbar>
    <div class="left">
      <v-ons-toolbar-button @click="$store.commit('splitter/toggle')">
        <v-ons-icon icon="ion-navicon, material:md-menu"></v-ons-icon>
      </v-ons-toolbar-button>
    </div>
    <div class="center">{{title}}</div>
  </v-ons-toolbar>
  
  <br/>
  <v-ons-button modifier="large" style="margin: 6px 0" @click="clickNextButton">{{nextButtonTitle}}</v-ons-button>
  <div>{{bleTitle}}{{targetDeviceName}}</div>
  <v-ons-button modifier="large" style="margin: 6px 0" @click="clickScanButton">{{scanButtonTitle}}</v-ons-button>
  <v-ons-button modifier="large" style="margin: 6px 0" @click="clickConnectButton">{{connectButtonTitle}}</v-ons-button>
  <v-ons-button modifier="large" style="margin: 6px 0" @click="clickDisconnectButton">{{disconnectButtonTitle}}</v-ons-button>
  <v-ons-dialog cancelable :visible.sync="dialogVisible">
  <p style="text-align: center">{{dialogMessage}}</p>
  <p style="text-align: center"><v-ons-button @click="dialogVisible = false">OK</v-ons-button></p>
  </v-ons-dialog>
</v-ons-page>