<v-ons-page id="channel">
  <v-ons-toolbar>
    <v-ons-back-button @click.prevent="close" class="left">{{translate('common.home')}}</v-ons-back-button>
    <div class="center">{{translate('channel.title')}}</div>
    <div class="right">
      <v-ons-icon icon="fa-question-circle" size="2em" fixed-width="true" @click="isTips=true"></v-ons-icon>
    </div>
  </v-ons-toolbar>
  <p style="text-align: center">
    <v-ons-button modifier="large" @click="isProcessing=true" >{{translate('channel.start')}}</v-ons-button>
  </p>
  <processing v-if="isProcessing" :callback="()=>isProcessing=false"></processing>
  <channel-tips v-if="isTips" :callback="()=>isTips=false"></channel-tips>
</v-ons-page>
