body {
  border: 0.1em solid ghostwhite;
}
div.center {
  text-align: center;
  padding: 3%;
}
ons-button.button {
  margin: 3%;
}
ons-button.button--large {
  line-height: 380%;
  margin: 4%;
  width: 90%;
}
ons-icon.ons-icon {
  color: #0076ff;
}
