body {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0;
  color: #ececec;
  font-family: Quattrocento, serif;
  line-height: 1.8925;
  background: url(../assets/logo.png) no-repeat center center;
  background-size: contain;
  text-align: center;
}
div.center {
  text-align: center;
}
.toolbar__title.toolbar--material__center {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 70vw;
}
.page__content.page--material__content > div.center {
  padding: 2vw;
}
ons-button.button {
  margin: 2vw;
  border-radius: 2vw;
}
ons-button.button--large {
  line-height: 8vh;
  margin: 1.4vh 2vw;
  width: 90vw;
  font-size: 5vw;
  display: inline-block;
}
ons-button.button {
  background-color: #19c;
}
ons-button.orange.button {
  background-color: orangered;
}
ons-icon.ons-icon {
  color: #19c;
}
.carousel-dots {
  cursor: pointer;
  color: #19c;
}
.back-button.back-button {
  color: #19c;
}
.back-button.back-button polygon {
  fill: #19c;
}
.tips-content ons-button.button--large {
  width: 80vw;
  margin: 0 2vw 3vh 2vw;
}
ons-page.small .page__background {
  background-color: #373764;
  opacity: 0.7;
}
.tips-content h3 {
  margin-top: 3vh;
  padding-top: 3vh;
}
.tips-content {
  color: black;
  position: relative;
  border-radius: 4vw;
  margin: 8vh 4vw 3vh 4vw;
  height: 88vh;
  background-color: whitesmoke;
  text-align: center;
}
ons-carousel ons-carousel-item.small {
  font-size: 4.8vw;
}
.tips-content h3.center {
  font-size: 5.2vw;
}
.toast.toast--material {
  border-radius: 2vw;
}
.hide {
  display: none;
}
.margin-min {
  margin: 1vw;
}
.margin-mid {
  margin: 2vw 1vw;
}
#home .status {
  background-color: #1c9;
  color: white;
  position: absolute;
  height: 8vh;
  width: 100vw;
}
#home .status .first {
  position: absolute;
  width: 100%;
}
#home .status .second {
  top: 3.5vh;
  position: absolute;
  width: 100%;
}
#home .status img.left {
  position: absolute;
  left: 1vw;
  height: 80%;
  top: 10%;
}
#home .status img.right {
  position: absolute;
  right: 3vw;
  height: 50%;
  top: 25%;
}
#home .middle {
  position: absolute;
  width: 100%;
  top: 8.5vh;
  bottom:1vh;
  overflow: scroll;
}
#home ons-icon.ons-icon.fa-angle-right.fa {
  position: absolute;
  right: 1vw;
  top: 10%;
  font-size: 2vw;
  color: white;
}
#home .home-icon {
  margin-top: 3vh;
}
#home .home-icon > span {
  width: 40vw;
  display: inline-grid;
}
#home .home-icon > span span {
  font-size: 4vw;
  display: block;
}
#home .home-icon > span:nth-child(even) {
  width: 1.5vw;
  display: inline-block;
}
