body {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0;
  color: #ececec;
  font-family: Quattrocento, serif;
  line-height: 1.8925;
  background: url(../assets/logo.png) no-repeat center center;
  background-size: contain;
  text-align: center;
}
div.center {
  text-align: center;
}
.page__content.page--material__content > div.center {
  padding: 2vw;
}
ons-button.button {
  margin: 2vw;
  border-radius: 2vw;
}
ons-button.button--large {
  line-height: 9vh;
  margin: 1.4vh 2vw;
  width: 90vw;
  font-size: 5vw;
  display: inline-grid;
}
ons-icon.ons-icon {
  color: #0076ff;
}
.tips-content ons-button.button--large {
  width: 80vw;
  margin: 0 2vw 3vh 2vw;
}
ons-page.small .page__background {
  background-color: #373764;
  opacity: 0.7;
}
.tips-content h3 {
  margin-top: 3vh;
  padding-top: 3vh;
}
.tips-content {
  color: black;
  position: relative;
  border-radius: 4vw;
  margin: 8vh 4vw 3vh 4vw;
  height: 88vh;
  background-color: whitesmoke;
  text-align: center;
}
ons-carousel ons-carousel-item.small {
  font-size: 4.8vw;
}
.tips-content h3.center {
  font-size: 5.2vw;
}
.toast.toast--material {
  border-radius: 2vw;
}
.hide {
  display: none;
}
.margin-min {
  margin: 1vw;
}
.margin-mid {
  margin: 2vw 1vw;
}
