ons-page.small .page__background {
  background-color: #272744;
  opacity: 0.6;
}
.tips-content h3 {
  margin-top: 5%;
  padding-top: 5%;
}
.tips-content {
  color: black;
  position: relative;
  left: 5%;
  height: 88%;
  width: 90%;
  background-color: whitesmoke;
  text-align: center;
}
