<v-ons-page>
  <v-ons-toolbar>
    <div class="left">
      <ons-icon icon="fa-angle-left" size="1em" fixed-width="true" @click="onClickClose">{{translate('common.home')}}</ons-icon>
    </div>
    <div class="center">{{translate('pairing.title')}}</div>
    <div class="right">
      <ons-icon icon="ion-ios-help" size="2em" fixed-width="true" @click="push"></ons-icon>
    </div>
  </v-ons-toolbar>
  <p style="text-align: center">
    <v-ons-button modifier="large" @click="onClickFinding" >{{translate('pairing.submit')}}</v-ons-button>
  </p>
  <v-ons-modal :visible="modalVisible" @click="modalVisible = false">
    <p style="text-align: center">
      Loading <v-ons-icon icon="fa-spinner" spin></v-ons-icon>
      <br><br>
      Click or wait
    </p>
  </v-ons-modal>
</v-ons-page>
