<v-ons-page id="home">
  <splitter-toolbar :title="translate('common.home')" :action="toggle"></splitter-toolbar>
  <div class="content">
    <div class="center">
      <div class="status" v-bind:class="{active:status.active}" @click="$emit('push-page', 'Status')">
        <v-ons-icon icon="fa-angle-right"></v-ons-icon>
        <img class="left" src="../../../assets/interface.png">
        <img class="right" v-if="status.power===5" src="../../../assets/power5.png">
        <img class="right" v-if="status.power===4" src="../../../assets/power4.png">
        <img class="right" v-if="status.power===3" src="../../../assets/power3.png">
        <img class="right" v-if="status.power===2" src="../../../assets/power2.png">
        <img class="right" v-if="status.power===1" src="../../../assets/power1.png">
        <img class="right" v-if="status.power===0" src="../../../assets/power0.png">
        <div class="first"><small>接続機器との接続状態：良好</small></div>
        <div class="second">{{interface.name}}</div>
      </div>
      <div class="middle">
        <v-ons-button modifier="large" @click="$emit('push-page', 'Channel')">{{translate('channel.caption')}}</v-ons-button>
        <v-ons-button modifier="large" @click="$emit('push-page', 'Pairing')">{{translate('pairing.caption')}}</v-ons-button>
        <v-ons-button modifier="large" @click="$emit('push-page', 'System')">{{translate('system.caption')}}</v-ons-button>
        <v-ons-button modifier="large" @click="$emit('push-page', 'Operation')">{{translate('operation.caption')}}</v-ons-button>
        <v-ons-button modifier="large" @click="$emit('push-page', 'Maintenance')">{{translate('maintenance.caption')}}</v-ons-button>
        <div class="home-icon">
      <span>
        <v-ons-icon icon="fa-question-circle" size="10vw" @click="$emit('push-page', 'Help')"><br><span>{{translate('help.caption')}}</span></v-ons-icon>
      </span>
          <span></span>
          <span>
        <v-ons-icon icon="fa-archive" size="10vw" @click="$emit('push-page', 'Manage')"><br><span>{{translate('manage.caption')}}</span></v-ons-icon>
      </span>
        </div>
      </div>
    </div>
  </div>
</v-ons-page>
