div.home-icon {
  margin-top: 3vh;
}
div.home-icon > span {
  width: 40vw;
  display: inline-grid;
}
div.home-icon > span span {
  font-size: 4vw;
  display: block;
}
div.home-icon > span:nth-child(even) {
  width: 1.5vw;
  display: inline-block;
}
