<v-ons-page id="home">
  <splitter-toolbar :title="translate('common.home')" :action="toggle"></splitter-toolbar>
  <div class="content">
    <div class="center">
      <div class="status-base">
        <div class="status" v-bind:class="{active:status.active}" @click="$emit('push-page', status.active ? 'Status' : 'Wizard')">
          <v-ons-icon icon="fa-angle-right"></v-ons-icon>
          <img class="left" src="../../../assets/interface.png">
          <img class="right" v-if="status.power===5" src="../../../assets/power5.png">
          <img class="right" v-if="status.power===4" src="../../../assets/power4.png">
          <img class="right" v-if="status.power===3" src="../../../assets/power3.png">
          <img class="right" v-if="status.power===2" src="../../../assets/power2.png">
          <img class="right" v-if="status.power===1" src="../../../assets/power1.png">
          <img class="right" v-if="status.power===0" src="../../../assets/power0.png">
          <div class="first"><small>{{translate('status.label.level')}}<b>{{translate(`status.level[${status.level}]`)}}</b></small></div>
          <div class="second">{{'name'}}</div>
        </div>
      </div>
      <div class="middle">
        <v-ons-button modifier="large" @click="$emit('push-page', 'Channel')">{{translate('channel.caption')}}</v-ons-button>
        <v-ons-button modifier="large" @click="$emit('push-page', 'Pairing')">{{translate('pairing.caption')}}</v-ons-button>
        <v-ons-button modifier="large" @click="$emit('push-page', 'System')">{{translate('system.caption')}}</v-ons-button>
        <v-ons-button modifier="large" @click="$emit('push-page', 'Operation')">{{translate('operation.caption')}}</v-ons-button>
        <v-ons-button modifier="large" @click="$emit('push-page', 'Maintenance')">{{translate('maintenance.caption')}}</v-ons-button>
        <v-ons-button modifier="large" @click="$emit('push-page', 'PairedItems')">{{translate('pairedItems.title')}}</v-ons-button>
        <v-ons-button modifier="large" @click="$emit('push-page', 'SelectItems')">{{translate('selectItems.title')}}</v-ons-button>
        <v-ons-button modifier="large" @click="$emit('push-page', 'SelectLines')">系統選択</v-ons-button>
        <v-ons-button modifier="large" @click="$emit('push-page', 'Help')">{{translate('help.caption')}}</v-ons-button>
        <v-ons-button modifier="large" @click="isManage=true">{{translate('manage.caption')}}</v-ons-button>
      </div>
    </div>
  </div>
  <manage v-if="isManage" :action="action"></manage>
</v-ons-page>
