<v-ons-page id="manage" xmlns:v-bind="http://www.w3.org/1999/xhtml">
  <v-ons-toolbar>
    <v-ons-back-button @click.prevent="close" class="left">{{translate('common.home')}}</v-ons-back-button>
    <div class="center">新規</div>
  </v-ons-toolbar>
  <div class="background"></div>
  <div class="content">
    <div class="dropdown" @click="isDropped=!isDropped;isCollapse=!isCollapse" v-bind:class="{dropped:isDropped}">
      <div class="item" v-bind:class="{collapse:isCollapse}">機器A設定</div>
      <div class="item" v-bind:class="{collapse:isCollapse}">機器B設定</div>
      <div class="item" v-bind:class="{collapse:isCollapse}">機器C設定</div>
      <div class="item" v-bind:class="{collapse:isCollapse}">開く</div>
    </div>
    <v-ons-list>
      <v-ons-list-item expandable :expanded.sync="isExpanded">
        開く
        <div class="expandable-content">
          <v-ons-list-item modifier="chevron" tappable @click="$ons.notification.toast(`「機器A設定を読み込みました。`, {timeout:3000})">機器A設定</v-ons-list-item>
          <v-ons-list-item modifier="chevron" tappable @click="$ons.notification.toast(`「機器B設定を読み込みました。`, {timeout:3000})">機器B設定</v-ons-list-item>
        </div>
      </v-ons-list-item>
      <v-ons-list-item modifier="chevron" tappable @click="isExpanded=false;$ons.notification.prompt({
        title: '保存',
        messageHTML: '<div>保存する名前を入力</div><div class=margin-mid><small>既存の名前を指定すると上書きされます。</small></div>',
        modifier: 'material',
        placeholder: '標準の初期設定',
        callback: name => $ons.notification.toast(`「${name}」を保存しました。`, {timeout:3000}),
      })">
        保存する
      </v-ons-list-item>
    </v-ons-list>
  </div>
</v-ons-page>
