ons-page.small .page__background {
  background-color: #272744;
  opacity: 0.6;
}
ons-page.small .page__content {
  left: 5%;
  height: 88%;
  width: 90%;
}
ons-page.small ons-carousel-item {
  background-color: whitesmoke;
}
ons-page.small h3 {
  background-color: whitesmoke;
  text-align: center;
}
