<v-ons-modal :visible="visible">
  <div class="tips-content">
    <h3 class="center">{{translate('pairing.tips.title')}}</h3>
    <v-ons-carousel fullscreen swipeable auto-scroll overscrollable
                    :index.sync="carouselIndex"
    >
      <v-ons-carousel-item class="small" v-for="(text, index) in tips" :key="index">
        <div v-html="text"></div>
      </v-ons-carousel-item>
    </v-ons-carousel>
    <div :style="dots">
      <span v-if="tips.length > 1" :index="index" v-for="(text, index) in tips" :key="index" style="cursor: pointer" @click="carouselIndex=index">
        {{ carouselIndex === index ? '\u25CF' : '\u25CB' }}
      </span>
      <v-ons-button v-if="carouselIndex < tips.length-1" modifier="large" @click="carouselIndex++" >{{translate('common.next')}}</v-ons-button>
      <v-ons-button v-else="carouselIndex < tips.length-1" modifier="large" @click="close();carouselIndex=0">{{translate('pairing.tips.cancel')}}</v-ons-button>
    </div>
  </div>
</v-ons-modal>
