  <v-ons-page>
  <v-ons-toolbar>
    <div class="left">
      <v-ons-toolbar-button @click="$store.commit('splitter/toggle')">
        <v-ons-icon icon="ion-navicon, material:md-menu"></v-ons-icon>
      </v-ons-toolbar-button>
    </div>
    <div class="center">{{title}}</div>
  </v-ons-toolbar>

    <v-ons-list>
      <v-ons-list-item>
        <div class="center">
          <v-ons-input placeholder="Input your name" float v-model="name">
          </v-ons-input>
        </div>
      </v-ons-list-item>
      <v-ons-list-item>
        <div class="right">
          Hello {{ name || 'anonymous' }}!
        </div>
      </v-ons-list-item>
    </v-ons-list>
  </v-ons-page>
