<v-ons-page id="selectItems">



  <v-ons-toolbar>
    <v-ons-back-button @click.prevent="close" class="left">{{translate('common.backButton')}}</v-ons-back-button>
    <div class="center">{{translate('selectItems.title')}}</div>
    <div class="right">
      <img src="../../assets/images/ic_quest.svg" class="f2l-toolbar-icon" @click="isTips=true">
    </div>
  </v-ons-toolbar>



  <div class="f2l-flex--shrink f2l-textblock--small" v-html="`${itemId.length}${translate('selectItems.text')}`"></div>



  <v-ons-list class="f2l-list-3col f2l-flex--shrink">
    <v-ons-list-header>
      <div class="left">{{translate('common.register')}}</div>
      <div class="center">{{translate('common.uuid')}}</div>
      <div class="right">{{translate('common.blinkHeader')}}</div>
    </v-ons-list-header>
  </v-ons-list>

  <v-ons-list class="f2l-list-3col f2l-flex--grow f2l-overflow-y--scroll">
    <v-ons-list-item v-for="(itemId, $index) in itemId" :key="itemId" tappable modifier="longdivider">
      <label class="left">
        <v-ons-checkbox
          :input-id="'checkbox-' + $index"
          :value="itemId"
          v-model="checkedItemId"
        >
        </v-ons-checkbox>
      </label>
      <label class="center f2l-font-family--monospace" :for="'checkbox-' + $index">
        {{ itemId }}
      </label>
      <div class="right">
        <v-ons-button modifier="outline" class="f2l-button-small orange" @click="">点滅</v-ons-button>
      </div>
    </v-ons-list-item>
  </v-ons-list>



  <v-ons-bottom-toolbar class="f2l-bottom-toolbar">
<!--    <v-ons-button class="f2l-button-large f2l-delmode-obj-show" @click="$emit('push-page', 'pairingMethod')" :class="{delmode:isDelMode}">{{translate('selectItems.add')}}</v-ons-button>
    <v-ons-button class="f2l-button-large orange f2l-delmode-obj-show" @click="" :class="{delmode:isDelMode}">{{translate('selectItems.confirm')}}</v-ons-button>

    <v-ons-button class="f2l-button-large f2l-delmode-obj-hide" @click="isDelMode=false;checkedItemid=[]" :class="{delmode:isDelMode}">{{translate('selectItems.cancel')}}</v-ons-button>-->
    <v-ons-button class="f2l-button-large orange" @click="" :disabled="checkedItemId.length > 0 ? false : true">{{translate('selectItems.pairing')}}</v-ons-button>
  </v-ons-bottom-toolbar>



</v-ons-page>